html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.main {
  flex-grow: 1;
}