html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

a {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.header--404-page {
  background-color: $bg;
}

.main {
  flex-grow: 1;
}

.title {
  margin-bottom: 10px;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 65px;
  color: $title;
  text-align: center;
  text-transform: uppercase;
}

.text {
  margin: 0 auto 55px;
  text-align: center;
  max-width: 570px;
}

.breadcrumbs {
  padding-left: 25px;
  display: inline-flex;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/home-icon.svg');
    position: absolute;
    top: 4px;
    left: 0;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding-right: 40px;
    color: #727272;
    position: relative;

    &:last-child {
      padding-right: 0;
      color: $accent;

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      width: 9px;
      height: 10px;
      background-image: url('../images/icons/angle-right.svg');
      position: absolute;
      top: 9px;
      right: 16px;
    }
  }

  &__link {
    color: inherit;
  }
}

.pagination {
  margin: 0 auto;
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ececec;

  &.pagination--list {
    margin-top: -40px;
    border-top: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding: 0 15px;
  }

  &__link--active {
    font-weight: 700;
    color: $accent;
  }

  &__arrows {
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      width: 5px;
      height: 10px;
      position: absolute;
      top: 8px;
    }
  }

  &__prev {
    padding-left: 15px;

    &::before {
      background-image: url('../images/icons/angle_left.svg');
      left: 0;
    }
  }

  &__next {
    padding-right: 15px;

    &::before {
      background-image: url('../images/icons/angle_right.svg');
      right: 0;
    }
  }
}