.footer {
  background-color: $bg;
}

.footer-top {
  padding: 70px 0 40px;
  display: flex;
  border-bottom: 1px solid #ececec;

  &__contact {
    margin-right: 30px;
    width: 250px;
  }

  &__nav {
    margin-right: 40px;
    width: 170px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__logo {
    margin-bottom: 30px;
    display: block;
  }

  &__address,
  &__email,
  &__phone {
    margin-bottom: 14px;
    display: block;
  }

  &__social-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__social-link {
    path {
      fill: $default;
      transition: all .3s;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__title {
    margin-bottom: 39px;
    @extend %roboto-400;
    font-size: 22px;
    line-height: 1;
    color: $title;
    cursor: pointer;
  }

  &__link {
    margin-bottom: 14px;
    display: block;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
    gap: 10px;
  }

  &__form-input {
    padding: 12px 10px 12px 15px;
    max-width: 320px;
    width: 100%;
    background-color: $white;
    border: none;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      font-size: 16px;
      color: $default;
    }
  }

  &__form-btn {
    @extend %btn;
  }
}

.footer-bottom {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 30px;
  font-size: 12px;

  &__copy span {
    font-weight: 600;
    color: $black;
  }

  &__accept {
    display: flex;
    align-items: center;
    gap: 25px;
  }
}

@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;

    &__item-form {
      margin-top: 30px;
      max-width: 100%;
    }
  }
}

@media (max-width: 860px) {
  .footer-top {
    &__contact {
      margin: 0 0 30px;
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .footer-top {
    padding: 45px 0 40px;

    &__nav+.footer-top__nav {
      margin-right: 0;
    }

    &__title {
      margin-bottom: 15px;
    }
  }

  .footer-bottom {
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;

    &__copy {
      width: 100%;
    }

    &__accept {
      gap: 15px;
    }
  }
}

@media (max-width: 450px) {
  .footer-top {
    &__contact {
      margin: 0 0 15px;
    }

    &__nav {
      margin-top: 30px;
    }

    &__form {
      flex-wrap: wrap;
    }

    &__form-input {
      max-width: 100%;
    }

    &__form-btn {
      width: 100%;
    }
  }
}